.inner{
    overflow:hidden;
}
.inner img{
    overflow:hidden;
}
.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}
img{
  width: 400px;
  height: 300px;
  border: 1px solid green;
}